#title{
  background-size: contain;
  text-align: center;
  color: red;
  background-color: #1a1a1a;
}

#titleText{
  font-family: "Arial Black", Gadget, sans-serif;
}
body {
  background-image: url("../images/defaultbackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main{
  margin: auto;
  width: 60%;
  border: 3px solid;
  padding: 10px;
}
.fixed{
  position: fixed;
  top: 0;
}
